// 1. Colors
// ==========================================================================
$primary-text-color: #505050;
$secundary-text-color: #FF4F58;
$color-text-3: #ae9678;

// social colors
$social-colors: (
  facebook:   #3b5998,
  twitter:    #55acee,
  linkedin:   #007bb6,
  reddit:     #ff4500,
  pocket:     #f50057,
  pinterest:  #bd081c,
  whatsapp:   #64d448,
);

// 2. Fonts
// ==========================================================================

$primary-font:  "Playfair Display", Whitney SSm A,Whitney SSm B,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif; // font default page and titles
$secundary-font: "Roboto", Mercury SSm A,Mercury SSm B,Georgia,serif; // font for content
// $code-font:       'Source Code Pro', monospace; // font for code and pre

// 3. Typography
// ==========================================================================

$font-size-root:  16px;

$font-size-h1:    3rem;
$font-size-h2:    2.625rem;
$font-size-h3:    2.125rem;
$font-size-h4:    1.875rem;
$font-size-h5:    1.625rem;
$font-size-h6:    1.375rem;

$headings-font-family:     $primary-font;
$headings-font-weight:     500;
$headings-line-height:     1.2em;
$headings-color: inherit;
// Container
// ==========================================================================

$grid-gutter-width:        24px;

$container-sm:             576px;
$container-md:             767px;
$container-lg:             970px;
$container-xl:             1200px;

// Header
// ==========================================================================
$header-color: #151515;
$header-color-hover: $color-text-3;
$header-height: 60px;

// 3. Media Query Ranges
// ==========================================================================
$num-cols: 12;
$container-gutter-width: 15px;

// 3. Media Query Ranges
// ==========================================================================

$sm:            640px;
$md:            766px;
$lg:            1000px;
$xl:            1230px;

$sm-and-up:     "only screen and (min-width : #{$sm})";
$md-and-up:     "only screen and (min-width : #{$md})";
$lg-and-up:     "only screen and (min-width : #{$lg})";
$xl-and-up:     "only screen and (min-width : #{$xl})";

$sm-and-down:   "only screen and (max-width : #{$sm})";
$md-and-down:   "only screen and (max-width : #{$md})";
$lg-and-down:   "only screen and (max-width : #{$lg})";

// Code Color
$code-bg-color:   #f0f0f0;
$font-size-code:  15px;
$code-color:      #333;
$pre-code-color:  #f8f8f2;
