<footer class="footer u-flexColumn">
    <div class="container">
        {{!-- Subscribers -- partials/widget/widget-subscribe.hbs --}}
        {{> "widget/widget-subscribe"}}

        <div class="footer-social">
            {{!-- Facebook & Twitter - partials/witget/witget-social-media.hbs --}}
            {{> "widget/witget-social-media"}}
        </div>

        <div class="copyright">
            &copy; Copyright {{date format="YYYY"}} - <a href="{{@site.url}}">{{@site.title}}</a>
            All Rights Reserved. Design with
            <i class="i-favorite animated infinite pulse" style="color:red;display:inline-block"></i>
            by <a href="https://godofredo.ninja" title="Developer FullStack.">@GodoFredoNinja</a>
        </div>
    </div>
</footer>
