<footer class="footer u-flexColumn">
    <div class="container">
        {{!-- Subscribers -- partials/widget/widget-subscribe.hbs --}}
        {{#if @labs.members}}{{> "widget/widget-subscribe"}}{{/if}}

        {{!-- Facebook & Twitter - partials/witget/witget-social-media.hbs --}}
        {{> "widget/witget-social-media"}}

        <div class="copyright">
            &copy; {{date format="YYYY"}} {{@site.title}}.
            Design by <a href="https://godofredo.ninja" title="Developer FullStack.">@GodoFredoNinja</a>
        </div>
    </div>
</footer>