<div class="feed-entry-content">
    <div class="feed-entry-wrap">

        <div class="story-feed">
            {{#foreach posts}}
                {{!-- markup for each stories - partials/story/story.hbs --}}
                {{> "story/story"}}
            {{/foreach}}
        </div>
    </div>
</div>