<section class="feed-entry-content container u-marginTop30">
    <div class="feed-entry-wrap">
        <div class="row">
            {{#foreach posts}}
                <div class="col s12 m6 l4">
                    {{!-- markup for each stories - partials/story/story-card-loop.hbs --}}
                    {{> "story/story-card-large"}}
                </div>
            {{/foreach}}
        </div>
    </div>
</section>
