<div id="search" class="search">
    <div id="search-close" class="search-close u-pointer i-close"></div>
    <div class="search-wrap">
        {{!-- Form for Search --}}
        <form class="search-form u-relative u-flex">
            <input id="search-input" class="search-input" type="text" placeholder="{{t "Type to search..."}}">
        </form>

        {{!-- Search Results --}}
        <div id="search-results" class="search-results"></div>
    </div>
</div>
