<ul class="social-media u-flex">
    {{#if @site.facebook}}<li><a href="{{facebook_url}}" title="Facebook {{@site.facebook}}" target="_blank" rel="noopener noreferrer"><i class="i-facebook"></i> <span>Facebook</span></a></li>{{/if}}
    {{#if @site.twitter}}<li><a href="{{twitter_url}}" title="Twitter {{@site.twitter}}" target="_blank" rel="noopener noreferrer"><i class="i-twitter"></i> <span>Twitter</span></a></li>{{/if}}
</ul>
