{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="u-margin-0-15">
    {{!-- Loop - partials/loop.hbs --}}
{{> "loop"}}
</div>
