{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="u-margin-0-15">
    {{!-- Tag --}}
    {{#tag}}
    <header class="pp-header container u-marginTop30">
        <div class="pp-subtitle">{{plural ../pagination.total empty=(t "posts") singular=(t "% post") plural=(t "% posts")}} {{t "in"}}</div>
        <h1 class="pp-title">{{name}}</h1>
    </header>
    {{/tag}}

    {{!-- All Story - partials/loop.hbs --}}
    {{> "loop"}}

    {{!-- Pagination --}}
    {{"pagination"}}
</div>
