.pagination {
  @extend %primary-font;

  color: #111;
  text-align: center;
  margin: 70px 0;
  font-weight: 500;
  font-size: 20px;
  // letter-spacing: 1px;
  line-height: 1.4;

  & > span { margin: 0 10px }

  // i {
  //   font-size: 24px;
  //   line-height: 1
  // }

  a {
    color: #757575;

    &:hover {
      color: #111;
      border-bottom: 1px solid #999;
    }
  }
}
