/* Search
/* ---------------------------------------------------------- */

.search {
  @extend %modal;

  &-shader { @extend %modal-bg; }

  &-inner {
    @extend %modal-inner;

    max-width: 700px;
    padding: 6vw 20px 20px;
    width: 100%;
    margin-bottom: 30px;
  }

  &-wrap {
    overflow: hidden;
  }

  &-message {
    color: #888;
    font-size: .9em;
  }

  &-close {
    position: absolute;
    right: 20px;
    top: 8px;
  }

  &-form {
    overflow: hidden;
    margin-bottom: 20px;

    input {
      border: none;
      width: 100%;
      box-shadow: none;
      background: transparent;
      color: #fff;
      padding: 15px 15px 15px 0;
      font-size: 2.5rem;
      font-weight: 4000;
      text-align: center;
      height: auto;
      border-bottom: 2px solid $primary-color;

      &:focus { box-shadow: none }
    }
  }

  // result
  &-results {
    overflow: auto;
    max-height: calc(100vh - 15rem);
    -webkit-overflow-scrolling: touch;

    a {
      @extend %secondary-font;

      padding: 10px;
      color: #fff;
      text-decoration: none;
      display: block;
      border-bottom: 1px solid #33312e;
      transition: all 0.3s ease-in-out;
      background-color: #0F0F0F;

      // &:hover, &.search-result--active { background: #dedede }

      &:hover, &.search-result--active {
        background-color: $primary-color;
      }
    }
  }
}

.search-nav-hints {
  @extend %secondary-font;

  max-width: 680px;
  line-height: 48px;
  margin-top: 20px;
  width: 100%;
  user-select: none;
  text-align: center;
}

.search-nav-hint {
  display: inline-block;
  line-height: 24px;
  margin-left: 12px;
  font-size: 13px;
  color: #fff;

  & > span {
    display: inline-block;
    background-color: $primary-color;
    padding: 1px 4px 2px;
    border-radius: 2px;
    // opacity: .9;
    min-width: 20px;
    line-height: 18px;
    text-align: center;
  }
}

.button-search--close {
  position: absolute !important;
  right: 50px;
  top: 20px;
}

body.has-search {
  overflow: hidden;

  .search {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease;

    &-inner {
      @extend %modal-active;
    }
  }
}

@media #{$md-and-down} {
  .search-inner { padding-top: 3.5rem }
  .search-results { max-height: calc(100vh - 10rem) }
}
