/* Story Feed
/* ---------------------------------------------------------- */

.story-feed {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.story {
  position: relative;
  // flex: 1 1 calc(100% / 3 - .01px);
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  word-wrap: break-word;
  max-height: 660px;
  background-color: #222831;

  // Body
  &-body {
    position: absolute;
    z-index: 5;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10% 5%;
  }

  // Category link
  .cat-links-item {
    color: #fff;
    border-color: rgba(255, 255, 255, .25);
  }

  // title
  &-title {
    @extend %font-title;

    hyphens: auto;
    margin-bottom: 1rem;
    margin-top: 0;
    letter-spacing: 0;
    font-size: 28px;
    font-weight: 700;

    &-link {
      color: #fff;
      display: block;
    }
  }

  // Hover
  &:hover .story-image-link::before {
    background-color: rgba(0, 0, 0, .55);
  }
}

// Story Image link

.story-figure {
  padding-top: 90%;
  overflow: hidden;
}

.story-image-link {
  // stylelint-disable-next-line
  &::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    transition: background-color .5s ease-in-out;
    opacity: 1;
    background-color: transparent;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8) 0%, rgba(255, 255, 255, 0) 60%);
  }
}

// Story Meta
.story-meta {
  @extend %primary-font;

  font-size: 1rem;
  color: rgba(255, 255, 255, .65);
  margin-bottom: 0;
  font-style: italic;

  a {
    text-decoration: underline;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.cat-links {
  @extend %secondary-font;

  letter-spacing: .05em;
  text-transform: uppercase;
  color: #212025;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0.75rem;

  // stylelint-disable-next-line
  &-item {
    display: inline-block;
    text-decoration: none;
    color: #212025;
    border-bottom: 3px solid #efeff0;
  }
}

// storu large
.story.story--large {
  flex: 1 1 100%;
  height: 100vh;
  max-height: none;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

  .story-body {
    padding: 5%;
    position: relative;
    text-align: center;
  }

  .story-title {
    max-width: 768px;
    font-size: 2.5rem;
  }

  .story-meta {
    font-size: 18px;
    color: #fff;
  }

  .story-figure { padding: 0 }

  .story-image-link::before {
    opacity: .35;
    background-color: #000;
  }
}

/* Media Query
/* ---------------------------------------------------------- */

@media #{$md-and-up} {
  .story { flex: 1 1 50% }
  .story-figure { padding-top: 125% }
  .story.story--large .story-title { font-size: 4rem }
}

@media #{$lg-and-up} {
  .story { flex: 1 1 calc(100% / 3 - .01px) }
  .story-title { font-size: 36px }
}
