{{#get "posts" limit="3" filter="tags:[{{post.tags}}]+id:-{{post.id}}" include="tags,authors" as |post_related|}}
<div class="post-related story-feed">
    {{#foreach post_related}}
        {{> "story/story"}}
    {{/foreach}}
</div>
{{/get}}