{{!-- Article related --}}
{{#get "posts" limit="3" filter="tags:[{{post.tags}}]+id:-{{post.id}}" include="tags,authors" as |post_related|}}

{{#if post_related}}
<div class="post-related">
    <div class="row no-space">
        {{#foreach post_related}}
        <div class="col s12 l4">
            {{> "story/story-card"}}
        </div>
        {{/foreach}}
    </div>
</div>
{{/if}}
{{/get}}
