*, *::before, *::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: $font-size-root;
}

body {
  @extend %primary-font;

  // background: #fff;
  color: $primary-text-color;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all .25s ease-in-out;

  &:active,
  &:focus,
  &:hover {
    outline: 0;
    color: $primary-color;
  }
}

blockquote {
  @extend %primary-font;

  border-left: 5px solid #151515;
  color: #151515;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.6em;
  margin: 0;
  padding-left: 20px;

  p:first-of-type { margin-top: 0 }
  // a { background-position: 0 1.07em !important } //stylelint-disable-line
}

figure {
  margin: 0;
}

figcaption {
  @extend %secundary-font;

  text-align: center;
  margin-top: 15px;
  text-transform: none;
  font-style: italic;
  color: #999;
  font-size: 15px;
}

ol, ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

hr {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 0;
  border-top: 1px solid #eee;
}

// Code
// ==========================================================================
kbd, samp, code {
  background: $code-bg-color;
  border-radius: 4px;
  color: $code-color;
  font-size: $font-size-code;
  padding: 3px;
  white-space: pre-wrap;
}

pre {
  background-color: #29292e;
  border-radius: 4px;
  font-size: $font-size-code;
  margin: 0;
  max-width: 100%;
  padding: 1rem;
  word-wrap: normal;

  code {
    background: transparent;
    color: $pre-code-color;
    padding: 0;
  }
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  width: auto;

  &:not([src]) {
    visibility: hidden;
  }
}

i {
  // display: inline-block;
  vertical-align: middle;
}

textarea,
input {
  @extend %font-header;

  background: $input-bg;
  border-radius: 4px;
  border: 1px solid $input-border-color;
  color: $input-color;
  display: block;
  font-size: 1rem;
  margin: 0;
  outline: none;
  padding: 0 10px;
  position: relative;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 100%;

  &:focus {
    border-color: $input-focus-color;
    outline: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
}

/* stylelint-disable-next-line */
textarea {
  min-height: 160px;
  padding: 15px 10px;
}

/* stylelint-disable-next-line */
input {
  height: $input-height;
  line-height: $input-height - 2;
}

// Table
table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.5;
  margin: 35px 0 0;
  max-width: 100%;
  overflow-x: auto;
  // vertical-align: top;
  white-space: nowrap;
  width: auto;
  -webkit-overflow-scrolling: touch;

  th,
  td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }

  tr:nth-child(2n) {
    background-color: #f6f8fa;
  }

  th {
    letter-spacing: 0.2px;
    text-transform: uppercase;
    font-weight: 600;
  }
}

// Pagination
.pagination {
  @extend %secundary-font;

  text-align: center;
  margin: 70px 0;
  font-weight: 500;
  font-size: 20px;
  // letter-spacing: 1px;
  line-height: 1.4;

  & > span { margin: 0 10px }

  // i {
  //   font-size: 24px;
  //   line-height: 1
  // }

  a {
    color: #999;

    &:hover {
      color: $primary-text-color;
      border-bottom: 1px solid #999;
    }
  }
}

// Video Responsive
// ==========================================================================
.video-responsive {
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0 0 56.25%;
  position: relative;
  width: 100%;

  iframe {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  video {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// Tag and Author Page
// ==========================================================================
.pp {
  &-header {
    text-align: center;
    color: #999;
  }

  &-subtitle {
    @extend %secundary-font;

    text-transform: uppercase;
    font-size: 16px;
  }

  &-title {
    color: #000;
    font-size: 3.25rem;
    font-weight: 700;
    margin: 10px 0;
  }
}

// Social Media

.social-media > li {
  margin: 0 7px;
}

// Blur
.blur-up {
  animation: fadeIn 3s ease-out;
}

@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
