.page {
  margin-bottom: 64px;

  &-header {
    height: 380px;
  }

  &-title {
    color: #fff;
    border-bottom: solid 3px $primary-color-link;
    font-weight: 700;
    padding-bottom: 5px;
    // font-size: 3rem;
  }

  &-img {
    filter: brightness(80%)
  }

  &.not-img {
    .page-header { height: auto; margin: 4.375rem auto }

    .page-title { color: #000 }
  }
}
