%u-absolute0 {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

//  Fonts
%font-header { font-family: $font-header }
%primary-font { font-family: $primary-font }
%secundary-font { font-family: $secundary-font }

// flexbox
%flex { display: flex }
%flex-align-items-center { align-items: center }
%flex-direction-column { flex-direction: column }
%flex-direction-row { flex-direction: row }
%flex-direction-wrap { flex-direction: wrap }
%flex-justify-content-center { justify-content: center }
