%text-muted { color: $text-muted }

%u-absolute0 {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

%u-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

// Shadow
%box-shadow-card {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 4px;
  overflow: hidden;
}

// LineClamp
%lineClamp {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

//  Fonts
%primary-font { font-family: $primary-font }
%secondary-font { font-family: $secondary-font }
%font-title { font-family: $font-title }

// flexbox
%flex { display: flex }
%flex-align-items-center { align-items: center }
%flex-direction-column { flex-direction: column }
%flex-direction-row { flex-direction: row }
%flex-direction-wrap { flex-direction: wrap }
%flex-justify-content-center { justify-content: center }

%modal {
  opacity: 0;
  transition: opacity .2s ease-out .1s, visibility 0s .4s;
  z-index: 100;
  visibility: hidden;
}

%modal-bg { background-color: rgba(0, 0, 0, .9) }

%modal-inner {
  opacity: 0;
  transform: scale(.6);
  transition: transform .3s cubic-bezier(.06, .47, .38, .99), opacity .3s cubic-bezier(.06, .47, .38, .99);
  // overflow: hidden;
}

%modal-active {
  opacity: 1;
  transform: scale(1);
  transition: transform .8s cubic-bezier(.26, .63, 0, .96);
}
