/* 1. Colors
/* ---------------------------------------------------------- */
$primary-text-color: #505050;
// $secondary-text-color: #FF4F58;
$primary-color: #8C7154;

$primary-color-link: #ae9678;
$primary-color-link-hover: #ae9678;

$text-muted: #6C757D;

/* 2. Fonts
/* ---------------------------------------------------------- */

$primary-font: 'Lora', serif;
$font-title: 'Playfair Display',Georgia,'Times New Roman',Times, serif;
$secondary-font: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;

// $code-font:       'Source Code Pro', monospace; // font for code and pre

/* 3. Typography
/* ---------------------------------------------------------- */

$font-size-root:  16px;

$font-size-h1:    3rem;
$font-size-h2:    2.625rem;
$font-size-h3:    2.125rem;
$font-size-h4:    1.875rem;
$font-size-h5:    1.625rem;
$font-size-h6:    1.375rem;

$headings-font-family:     $primary-font;
$headings-font-weight:     700;
$headings-line-height:     1.15;
$headings-color: inherit;

/* Container
/* ---------------------------------------------------------- */

$grid-gutter-width:        24px;

$container-sm:             576px;
$container-md:             767px;
$container-lg:             970px;
$container-xl:             1200px;

/* Header
/* ---------------------------------------------------------- */
$header-color: #151515;
$header-color-hover: $primary-color-link;
$header-height: 80px;

/* 3. Media Query Ranges
/* ---------------------------------------------------------- */
$num-cols: 12;
$container-gutter-width: 15px;

/* 3. Media Query Ranges
/* ---------------------------------------------------------- */

$sm:            640px;
$md:            766px;
$lg:            1000px;
$xl:            1230px;

$sm-and-up:     "only screen and (min-width : #{$sm})";
$md-and-up:     "only screen and (min-width : #{$md})";
$lg-and-up:     "only screen and (min-width : #{$lg})";
$xl-and-up:     "only screen and (min-width : #{$xl})";

$sm-and-down:   "only screen and (max-width : #{$sm})";
$md-and-down:   "only screen and (max-width : #{$md})";
$lg-and-down:   "only screen and (max-width : #{$lg})";

/* Buttons and Inputs
/* ---------------------------------------------------------- */
$button-color: #fff;
$button-bg: #111;
$button-hover-color: #fff;
$button-height: 44px;
$button-hover-bg: $primary-color;

$button-primary-bg: $primary-color;
$button-primary-bg-hover: #9c8467;
// $button-primary-color: #fff;

$input-height: 44px;
$input-color: #495057;
$input-bg: #fff;
$input-border-color: #ced4da;
$input-focus-color: $primary-color;

// Code Color
$code-bg-color:   #f0f0f0;
$font-size-code:  15px;
$code-color:      #333;
$pre-code-color:  #f8f8f2;
