*, *::before, *::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: $font-size-root;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;

  &:active,
  &:hover {
    outline: 0;
  }
}

body {
  @extend %primary-font;

  background: #fff;
  color: $primary-text-color;
  font-size: 18px;
  line-height: 1.8em;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

blockquote {
  @extend %primary-font;

  border-left: 5px solid #151515;
  color: #151515;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.6em;
  margin: 0;
  padding-left: 20px;

  p:first-of-type { margin-top: 0 }
  // a { background-position: 0 1.07em !important } //stylelint-disable-line
}

figure {
  margin: 0;
}

figcaption {
  @extend %secundary-font;

  text-align: center;
  margin-top: 15px;
  text-transform: none;
  font-style: italic;
  color: #999;
  font-size: 15px;
}

ol, ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

hr {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 0;
  border-top: 1px solid #eee;
}

// Code
// ==========================================================================
kbd, samp, code {
  background: $code-bg-color;
  border-radius: 4px;
  color: $code-color;
  font-size: $font-size-code;
  padding: 3px;
  white-space: pre-wrap;
}

pre {
  background-color: #29292e;
  border-radius: 4px;
  font-size: $font-size-code;
  margin: 0;
  max-width: 100%;
  padding: 1rem;
  word-wrap: normal;

  code {
    background: transparent;
    color: $pre-code-color;
    padding: 0;
  }
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  width: auto;

  &:not([src]) {
    visibility: hidden;
  }
}

i {
  // display: inline-block;
  vertical-align: middle;
}

// Table
table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.5;
  margin: 35px 0 0;
  max-width: 100%;
  overflow-x: auto;
  // vertical-align: top;
  white-space: nowrap;
  width: auto;
  -webkit-overflow-scrolling: touch;

  th,
  td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }

  tr:nth-child(2n) {
    background-color: #f6f8fa;
  }

  th {
    letter-spacing: 0.2px;
    text-transform: uppercase;
    font-weight: 600;
  }
}

// Pagination
.pagination {
  @extend %secundary-font;

  text-align: center;
  margin: 70px 0;
  font-weight: 500;
  font-size: 1rem;
  // letter-spacing: 1px;
  line-height: 1.4;

  & > span { margin: 0 10px }

  a {
    color: #999;

    &:hover {
      color: $primary-text-color;
      border-bottom: 1px solid #999;
    }
  }
}

// Instagram Fedd
// ==========================================================================
.instagram {
  // &-hover {
  //   background-color: rgba(0, 0, 0, .3);
  //   // transition: opacity 1s ease-in-out;
  //   opacity: 0;
  // }

  &-img {
    height: 264px;

    img { filter: brightness(65%); transition: all .2s ease; }

    &:hover > img { filter: brightness(90%) }
  }

  &-name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  &-btn {
    background-color: #fff;
    color: #000;
    display: block;
    font-weight: 600;
    line-height: 1;
    min-width: 200px;
    padding: 10px;
    text-align: center;
  }
}
