%fonts-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'paway' !important; //stylelint-disable-line
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%u-absolute0 {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

//  Fonts
%primary-font { font-family: $primary-font }
%secundary-font { font-family: $secundary-font }

// flexbox
%flex { display: flex }
%flex-align-items-center { align-items: center }
%flex-direction-column { flex-direction: column }
%flex-direction-row { flex-direction: row }
%flex-direction-wrap { flex-direction: wrap }
%flex-justify-content-center { justify-content: center }
