.u-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.u-hide { display: none }
.u-pointer { cursor: pointer; }

.u-meta {
  @extend %secundary-font;

  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.u-round { border-radius: 50% }

// zindex
.zindex1 { z-index: 1 }
.zindex2 { z-index: 2 }
.zindex3 { z-index: 3 }
.zindex4 { z-index: 4 }

// margin
.u-margin-0-15 { margin: 0 15px }

// Positions
.u-relative { position: relative; }
.u-absolute { position: absolute; }
.u-absolute0 { @extend %u-absolute0; }
.u-fixed { position: fixed }

.u-block { display: block }
.u-inlineBlock { display: inline-block }

//  Background
.u-overlay {
  background-color: rgba(0, 0, 0, .6);
  transition: all 0.3s ease;
}
// .u-bgGradient { background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 29%, rgba(0, 0, 0, .7) 81%) }

//  flex
.u-flex { @extend %flex }

.u-flexCenter {
  @extend %flex;
  @extend %flex-align-items-center;
}

.u-flexContentCenter {
  @extend %flex;
  @extend %flex-align-items-center;
  @extend %flex-justify-content-center;
}

// .u-flex--1 { flex: 1 }
.u-flex1 { flex: 1 1 auto; }
.u-flex0 { flex: 0 0 auto; }
.u-flexWrap { flex-wrap: wrap }

.u-flexColumn {
  @extend %flex;
  @extend %flex-direction-column;
  @extend %flex-justify-content-center;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

.u-flexEnd {
  @extend %flex-align-items-center;
  // align-items: center;
  justify-content: flex-end;
}

.u-flexColumnTop {
  @extend %flex;
  @extend %flex-direction-column;
  // display: flex;
  // flex-direction: column;
  justify-content: flex-start;
}

@media #{$md-and-down} {
  .u-hide-before-md { display: none !important }
  // .u-md-heightAuto { height: auto; }
  // .u-md-height170 { height: 170px }
  // .u-md-relative { position: relative }
}

@media #{$lg-and-down} { .u-hide-before-lg { display: none !important } }

// hide after
@media #{$md-and-up} { .u-hide-after-md { display: none !important } }

@media #{$lg-and-up} { .u-hide-after-lg { display: none !important } }

@media #{$lg-and-up} { .u-hide-after-lg { display: none !important } }
