/* Footer
/* ---------------------------------------------------------- */

.footer {
  @extend %secondary-font;

  background-color: #000;
  color: #fff;
  padding: 0 15px;
  text-align: center;
}

/* Footer Subscribe Box
/* ---------------------------------------------------------- */

.f-subscribe {
  max-width: 700px;
  margin: 70px auto 0;

  &-title {
    @extend %primary-font;

    font-style: italic;
    font-weight: 400;
    font-size: 2.25rem;

    @media #{$md-and-down} { font-size: 2rem }
  }

  &-des {
    color: #999;
    font-size: .9em;
    padding: 10px 0 30px 0;
  }
}

/* Footer Form for Subscribe
/* ---------------------------------------------------------- */

.footer-form {
  max-width: 600px;
  margin: 0 auto;

  input {
    background-color: #000;
    color: #fff;
    border: 2px solid #262626;
    height: 50px;
    line-height: 48px;
    padding: 0 15px;

    &:focus { border-color: #3c3c3c }
  }

  .button {
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
    padding: 0 1.5em;
    width: 100%;
  }

  // Error
  &.error,
  &.invalid {
    .message-error {
      color: #ec694b;
      display: block !important;
      padding-top: 10px;
    }
  }

  // success
  &.success .message-success {
    color: #acd053;
    display: block !important;
    padding-top: 10px;
  }

  // Animation Loafing
  &.loading {
    .icon--send { display: none }

    .icon--loader {
      display: inline-block !important;
      animation: spin .8s linear infinite;
    }
  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Footer Social Media
/* ---------------------------------------------------------- */

.footer .social-media {
  color: #fff;
  margin: 70px auto 0;

  span {
    display: block;
    color: #adadad;
    margin-top: 5px;
    font-size: 15px;
    letter-spacing: .3px;
  }
}

/* Footer copyright
/* ---------------------------------------------------------- */

.copyright {
  margin: 70px auto 0;
  text-align: center;
  font-size: 14px;
  padding: 43px 0;
  border-top: 1px solid hsla(0, 0%, 100%, .1);
  color: #adadad;
  letter-spacing: .015em;

  a {
    color: #fff;
    &:hover { color: $primary-color-link }
  }
}

/* Media Query
/* ---------------------------------------------------------- */

@media #{$md-and-up} {
  .footer {
    .form-group { display: flex }
    input { border-radius: 25px 0 0 25px }

    .button {
      border-radius: 0 25px 25px 0;
      margin-top: 0;
      width: auto;
    }

    .social-media > li { margin: 0 1rem; }
  }
}
