// Header
// --------------------------------------------------
.header {
  @extend %font-header;

  background: #fff;
  color: #151515;
  position: sticky;
  top: 0;
  z-index: 10;

  &.has-shadow {
    border-bottom: 1px solid #f1f1f1;
    // box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
  }

  &-wrap { height: $header-height }

  &-right > ul > li {
    margin: 0 7px;
  }
}

// Logo
// --------------------------------------------------
.logo {
  &-txt {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    line-height: 1;
  }

  &-img { max-height: 40px; }
}

// bavbar ( Navigation )
// --------------------------------------------------

.navbar ul {
  @extend %flex;
}

.sidenav-nav,
.navbar {
  // width: 60%;

  ul {
    a {
      padding: 16px 0;
      color: $header-color;
      display: block;
      position: relative;
    }

    li {
      // @extend %secundary-font;

      margin: 0 10px;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 500;
    }
  }
}

/* stylelint-disable-next-line */
li.nav-current > a,
.sidenav-nav ul a,
.footer-social a:hover,
.search-toggle:hover,
.menu-toggle:hover,
.navbar ul > li > a:hover,
.social-media a :hover {
  color: $header-color-hover;
}

// Social Media
// --------------------------------------------------
.header .social-media span { display: none }

// @media #{$xl-and-up} {
//   .header-right, .logo { width: 300px }
// }

@media #{$lg-and-down} {
  .header-right { flex: 1 1 auto }
  .header .social-media { display: none; }
}
