/* Variables and Root
/* ---------------------------------------------------------- */
/* Colors
/* ---------------------------------------------------------- */
/* Header
/* ---------------------------------------------------------- */
/* Root
/* ---------------------------------------------------------- */
:root {
  --ghost-accent-color: #8c7154;
  --color-primary: var(--ghost-accent-color);
  --blank: #fff;

  /* Global Color */
  --bg-base: #fff;
  --text-base: #292929;

  /* Header */
  --header-text-link: #292929;
  --header-bg: #fff;

  /* story */
  --story-small-bg: #fff;
  --card-bg: #fff;

  /* title */
  --title-color: #18181B;

  /* link */
  --color-link: var(--ghost-accent-color);

  --border-color: #e2ecec;

  /* Button */
  --button-color: #292929;
  --button-bg: #f2f2f2;
  --button-hover-color: rgba(0,0,0,.7);
  --button-hover-bg: #ececec;

  /* Button white */
  --button-white-color: #191919;
  --button-white-bg: #fff;
  --button-white-hover-color: #757575;
  --button-white-hover-bg: #f9f9f9;

  /* form */
  --input-color: hsl(0, 0%, 21%);
  --input-bg: #fff;
  --input-border-color: #ced4da;
  --input-hover-border-color: var(--ghost-accent-color);
  --input-focus-border-color: var(--ghost-accent-color);
  --placeholder-color: rgba(54, 54, 54, 0.8);
}
/* base
/* ---------------------------------------------------------- */
/* ! tailwindcss v3.1.4 | MIT License | https://tailwindcss.com */
/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}
::before,
::after {
  --tw-content: '';
}
/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/
html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}
/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}
/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}
/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr:where([title]) {
  text-decoration: underline dotted;
}
/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
  color: inherit;
  text-decoration: inherit;
}
/*
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}
/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/*
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}
/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}
/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}
/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}
/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}
/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}
/*
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}
/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}
/*
Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*
Prevent resizing textareas horizontally by default.
*/
textarea {
  resize: vertical;
}
/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
/*
Set the default cursor for buttons.
*/
button,
[role="button"] {
  cursor: pointer;
}
/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}
/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}
/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
  max-width: 100%;
  height: auto;
}
*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
h1,  h2,  h3,  h4,  h5,  h6,  [type="text"],  [type="email"],  [type="url"],  [type="password"],  [type="number"],  [type="date"],  [type="search"],  textarea,  .button {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.inset-image,  .kg-bookmark-thumbnail img {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.kg-bookmark-container {
  background: #fff;
  background: var(--card-bg);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 4px;
  overflow: hidden;
}
html {
  font-size: 1rem;
}
body {
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-global);

  color: #292929;

  color: var(--text-base);
  background-color: #fff;
  background-color: var(--bg-base) ;
  letter-spacing: 0;
  margin: 0 auto;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}
a {
  color: inherit;
  text-decoration: none;
  transition: all .25s ease-in-out;

  /* &:focus,
  &:active,
  &:hover {
    outline: 0;
  } */
}
/* 1. Blockquote
/* ---------------------------------------------------------- */
blockquote:not([class]) {
  font-size: 1.5rem;
  font-style: italic;
}
.tokenblockquote:not([class]) {
  font-style: italic;
}
blockquote:not([class]) {

  border-left: 3px solid currentColor;
  line-height: 1.5;
  /* margin: 2rem 0 2rem -1.5rem; */
  /* padding-bottom: .125rem; */
  padding-left: 4vmin;
  margin-left: -.25rem

  /* p:first-of-type {
    margin-top: 0;
  } */
}
@media (min-width: 640px) {
blockquote:not([class]) {
    font-size: 1.5rem;
    margin-left: -4vmin
}
  }
/* 2. cite - figcamption - figure
/* ---------------------------------------------------------- */
cite,  figcaption {
  display: block;
  text-align: center;
  font-family: Lora, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.tokencite, .token figcaption {
  font-style: italic;
}
cite, figcaption {

  font-feature-settings: "liga" on, "lnum" on;
  line-height: 1.4em;
  padding: 1rem 1.25rem 0;
}
/* width: 100%; */
cite a, figcaption a {
    text-decoration: underline;
  }
cite {
  text-align: left;
}
/* 3. hr
/* ---------------------------------------------------------- */
hr {
  border-top: 1px solid #e2ecec;
  border-top: 1px solid var(--border-color);
  box-sizing: content-box;
  margin: 2rem 0;
}
/* 4. Image
/* ---------------------------------------------------------- */
img {
  vertical-align: middle;
  width: auto;
}
img:not([src]) {
  visibility: hidden;
}
/* 5. List ol - ul
/* ---------------------------------------------------------- */
/* 6. Mark
/* ---------------------------------------------------------- */
mark {
  background-color: var(--color-mark);

  color: inherit;
}
h1, h2, h3, h4, h5, h6 {

  font-weight: 700;
  line-height: 1.25;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.375rem;
}
h6 {
  font-size: 1.125rem;
}
/* Img Blur lazyloaded
/* ---------------------------------------------------------- */
.blur-up {
  opacity: 0;
}
.blur-up.lazyloaded {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
/* Loanding Bar
/* ---------------------------------------------------------- */
.loadingBar {
  background-color: #48e79a;
  height: 2px;
  transform: translateX(100%);
  z-index: 800;
}
.is-loading .loadingBar {
  -webkit-animation: loading-bar 1s ease-in-out infinite;
          animation: loading-bar 1s ease-in-out infinite;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  display: block;
}
@-webkit-keyframes loading-bar {
  0% { transform: translateX(-100%); }
  40% { transform: translateX(0); }
  60% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}
@keyframes loading-bar {
  0% { transform: translateX(-100%); }
  40% { transform: translateX(0); }
  60% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}
/* Inset Image
/* ---------------------------------------------------------- */
/* Video Responsive
/* ---------------------------------------------------------- */
.video-responsive {
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0 0 56.25%;
  position: relative;
  width: 100%;
}
.video-responsive video, .video-responsive iframe {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
/* Error Page
/* ---------------------------------------------------------- */
@media (min-width: 1000px) {
  .page-error-number {
    font-size: 15rem !important;
  }
}
[type="text"],  [type="email"],  [type="url"],  [type="password"],  [type="number"],  [type="date"],  [type="search"],  textarea,  .button {
  font-size: 1rem;

  /* stylelint-disable-next-line */
  -moz-appearance: none;
  /* stylelint-disable-next-line */
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding: calc(0.5em - 1px) calc(0.75em - 1px);
  position: relative;
  vertical-align: top;

  /* States */
}
/* &:focus,
  &.is-focused,
  &:active,
  &.is-active {
    outline: none;
  } */
[type="text"][disabled], fieldset[disabled] [type="text"], [type="email"][disabled], fieldset[disabled] [type="email"], [type="url"][disabled], fieldset[disabled] [type="url"], [type="password"][disabled], fieldset[disabled] [type="password"], [type="number"][disabled], fieldset[disabled] [type="number"], [type="date"][disabled], fieldset[disabled] [type="date"], [type="search"][disabled], fieldset[disabled] [type="search"], textarea[disabled], fieldset[disabled] textarea, .button[disabled], fieldset[disabled] .button {
    cursor: not-allowed;
  }
/* Components
/* ---------------------------------------------------------- */
.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1000px) {
  .container {
    max-width: 1000px;
  }
}
@media (min-width: 1232px) {
  .container {
    max-width: 1232px;
  }
}
/* Elements
/* ---------------------------------------------------------- */
[type="text"], [type="email"], [type="url"], [type="password"], [type="number"], [type="date"], [type="search"], textarea {

  background-color: #fff;

  background-color: var(--input-bg);
  border-color: #ced4da;
  border-color: var(--input-border-color);
  color: hsl(0, 0%, 21%);
  color: var(--input-color)
}
[type="text"]::-moz-placeholder, [type="email"]::-moz-placeholder, [type="url"]::-moz-placeholder, [type="password"]::-moz-placeholder, [type="number"]::-moz-placeholder, [type="date"]::-moz-placeholder, [type="search"]::-moz-placeholder, textarea::-moz-placeholder {
    color: rgba(54, 54, 54, 0.8);
    color: var(--placeholder-color);
  }
[type="text"]:-ms-input-placeholder, [type="email"]:-ms-input-placeholder, [type="url"]:-ms-input-placeholder, [type="password"]:-ms-input-placeholder, [type="number"]:-ms-input-placeholder, [type="date"]:-ms-input-placeholder, [type="search"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: rgba(54, 54, 54, 0.8);
    color: var(--placeholder-color);
  }
[type="text"]::placeholder, [type="email"]::placeholder, [type="url"]::placeholder, [type="password"]::placeholder, [type="number"]::placeholder, [type="date"]::placeholder, [type="search"]::placeholder, textarea::placeholder {
    color: rgba(54, 54, 54, 0.8);
    color: var(--placeholder-color);
  }
[type="text"]:hover, [type="email"]:hover, [type="url"]:hover, [type="password"]:hover, [type="number"]:hover, [type="date"]:hover, [type="search"]:hover, textarea:hover {
    border-color: #8c7154;
    border-color: var(--input-hover-border-color);
  }
[type="text"]:focus, [type="text"]:active, [type="email"]:focus, [type="email"]:active, [type="url"]:focus, [type="url"]:active, [type="password"]:focus, [type="password"]:active, [type="number"]:focus, [type="number"]:active, [type="date"]:focus, [type="date"]:active, [type="search"]:focus, [type="search"]:active, textarea:focus, textarea:active {
    outline: none;
    border-color: #8c7154;
    border-color: var(--input-focus-border-color);
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, .1);
  }
[type="text"][disabled], fieldset[disabled] [type="text"], [type="email"][disabled], fieldset[disabled] [type="email"], [type="url"][disabled], fieldset[disabled] [type="url"], [type="password"][disabled], fieldset[disabled] [type="password"], [type="number"][disabled], fieldset[disabled] [type="number"], [type="date"][disabled], fieldset[disabled] [type="date"], [type="search"][disabled], fieldset[disabled] [type="search"], textarea[disabled], fieldset[disabled] textarea {
    background-color: hsl(0, 0%, 96%);
    border-color: hsl(0, 0%, 96%);
    box-shadow: none;
    color: rgba(117, 117, 117, 0.3)
  }
[type="text"][disabled]::-moz-placeholder, fieldset[disabled] [type="text"]::-moz-placeholder, [type="email"][disabled]::-moz-placeholder, fieldset[disabled] [type="email"]::-moz-placeholder, [type="url"][disabled]::-moz-placeholder, fieldset[disabled] [type="url"]::-moz-placeholder, [type="password"][disabled]::-moz-placeholder, fieldset[disabled] [type="password"]::-moz-placeholder, [type="number"][disabled]::-moz-placeholder, fieldset[disabled] [type="number"]::-moz-placeholder, [type="date"][disabled]::-moz-placeholder, fieldset[disabled] [type="date"]::-moz-placeholder, [type="search"][disabled]::-moz-placeholder, fieldset[disabled] [type="search"]::-moz-placeholder, textarea[disabled]::-moz-placeholder, fieldset[disabled] textarea::-moz-placeholder {
      color: rgba(117, 117, 117, 0.3);
    }
[type="text"][disabled]:-ms-input-placeholder, fieldset[disabled] [type="text"]:-ms-input-placeholder, [type="email"][disabled]:-ms-input-placeholder, fieldset[disabled] [type="email"]:-ms-input-placeholder, [type="url"][disabled]:-ms-input-placeholder, fieldset[disabled] [type="url"]:-ms-input-placeholder, [type="password"][disabled]:-ms-input-placeholder, fieldset[disabled] [type="password"]:-ms-input-placeholder, [type="number"][disabled]:-ms-input-placeholder, fieldset[disabled] [type="number"]:-ms-input-placeholder, [type="date"][disabled]:-ms-input-placeholder, fieldset[disabled] [type="date"]:-ms-input-placeholder, [type="search"][disabled]:-ms-input-placeholder, fieldset[disabled] [type="search"]:-ms-input-placeholder, textarea[disabled]:-ms-input-placeholder, fieldset[disabled] textarea:-ms-input-placeholder {
      color: rgba(117, 117, 117, 0.3);
    }
[type="text"][disabled]::placeholder, fieldset[disabled] [type="text"]::placeholder, [type="email"][disabled]::placeholder, fieldset[disabled] [type="email"]::placeholder, [type="url"][disabled]::placeholder, fieldset[disabled] [type="url"]::placeholder, [type="password"][disabled]::placeholder, fieldset[disabled] [type="password"]::placeholder, [type="number"][disabled]::placeholder, fieldset[disabled] [type="number"]::placeholder, [type="date"][disabled]::placeholder, fieldset[disabled] [type="date"]::placeholder, [type="search"][disabled]::placeholder, fieldset[disabled] [type="search"]::placeholder, textarea[disabled]::placeholder, fieldset[disabled] textarea::placeholder {
      color: rgba(117, 117, 117, 0.3);
    }
[type="text"], [type="email"], [type="url"], [type="password"], [type="number"], [type="date"], [type="search"], textarea {

  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  max-width: 100%;
  width: 100%
}
[type="text"][readonly], [type="email"][readonly], [type="url"][readonly], [type="password"][readonly], [type="number"][readonly], [type="date"][readonly], [type="search"][readonly], textarea[readonly] {
    box-shadow: none;
  }
textarea {

  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: calc(0.75em - 1px);
  resize: vertical
}
textarea:not([rows]) {
    max-height: 40em;
    min-height: 8em;
  }
textarea[rows] {
    height: auto;
    height: initial;
  }
.button {
  /* @extend %font-sans; */

  -webkit-user-select: none;

     -moz-user-select: none;

      -ms-user-select: none;

          user-select: none;
  background-color: #f2f2f2;
  background-color: var(--button-bg);
  border-color: transparent;
  border-width: 1px;
  color: #292929;
  color: var(--button-color);
  cursor: pointer;
  justify-content: center;
  padding: 0 .875em;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  transition: all .15s linear
}
.button:hover{
    background-color: #ececec;
    background-color: var(--button-hover-bg);
    color: rgba(0,0,0,.7);
    color: var(--button-hover-color);
  }
.button > .icon, .button > .icon.is-small, .button > .icon.is-medium {
      height: 1.5em;
      width: 1.5em;
    }
.button > .icon:first-child:last-child {
      margin-left: calc(-.5em - 1px);
      margin-right: calc(-.5em - 1px);
    }
.button > .icon:first-child:not(:last-child) {
      margin-left: calc(-.5em - 1px);
      margin-right: .25em;
    }
.button.is-white {
  background-color: #fff;
  background-color: var(--button-white-bg);
  color: #191919;
  color: var(--button-white-color)
}
.button.is-white:hover {
    background-color: #f9f9f9;
    background-color: var(--button-white-hover-bg);
    color: #757575;
    color: var(--button-white-hover-color);
  }
.button.is-primary {
  background-color: #8c7154;
  background-color: var(--ghost-accent-color);
  color: #fff
}
.button.is-primary:hover {
    opacity: .92;
  }
.button.is-black {
  background-color: #191919;
  color: #fff;
}
/* circle */
.button.is-circle {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  padding: 0;
}
.button.is-outlined {
  color: #000;
  border: 1px solid #000;
  background-color: transparent
}
.button.is-outlined:hover {
    background-color: #000;
    color: #fff;
  }
.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.buttons .button {
    margin-bottom: 0.5rem
  }
.buttons .button:not(:last-child) {
      margin-right: .5rem;
    }
.icon {
  display: inline-block;
  fill: currentColor;
  height: 1.5rem;
  stroke-width: 0;
  vertical-align: middle;
  width: 1.5rem
}
.icon.is-stroke {
    fill: none;
    stroke: currentColor;
  }
.icon.is-small {
    height: 1rem !important;
    width: 1rem !important;
  }
.icon.is-medium {
    height: 1.25rem;
    width: 1.25rem;
  }
table {
  display: block;
  width: auto;
  max-width: 100%;
  overflow-x: auto;
  text-align: left;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
}
table th {
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(203 213 225 / var(--tw-border-opacity));
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 1rem;
  font-weight: 600;
}
table td {
  white-space: nowrap;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity));
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 1rem;
}
table tr:last-child td {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(203 213 225 / var(--tw-border-opacity));
}
/* Components
/* ---------------------------------------------------------- */
.story {
  background-color: #222831;
  max-height: 660px;

  /* Hover */
}
.story-body {
    padding: 10% 5%;
  }
.story:hover .story-image-link::before {
    background-color: rgba(0, 0, 0, .55);
  }
.story-figure {
  padding-top: 90%;
  overflow: hidden;
}
.story-image-link::before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  transition: background-color .5s ease-in-out;
  opacity: 1;
  background-color: transparent;
  background-image: linear-gradient(to top, rgba(0, 0, 0, .8) 0%, rgba(255, 255, 255, 0) 60%);
}
/* .cat-links-item {
  display: inline-block;
  text-decoration: none;
  color: #212025;
  border-bottom: 3px solid #efeff0;
} */
/* Previus and next post
/* ---------------------------------------------------------- */
.prev-next-body {
  padding: 10% 5%;
}
.prev-next-link::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  transition: background-color .5s ease-in-out;
  background-color: rgba(0, 0, 0, .4);
  z-index: 1;
}
.prev-next-item {
    flex: 1 1 100%
  }
.prev-next-item:hover .prev-next-link::before {
      background-color: rgba(0, 0, 0, .6);
    }
/* Mediquery afer md
/* ---------------------------------------------------------- */
@media (min-width: 768px) {
  .story-figure {
    padding-top: 125%;
  }

  .prev-next-body {
    padding: 20% 10%;
  }

  .prev-next-item {
    flex: 1 1 50%;
  }
}
:not(pre) > code {
  border-radius: 3px;
  white-space: normal;
  background: #e5eff5;
  text-shadow: none;
  color: #343f44;
  font-size: .875em;
  padding: .2rem .33rem;
  vertical-align: 1%;
}
pre {
  overflow-x: auto;
  margin: 0;
  padding: 20px;
  max-width: 100%;
  border: 0;
  color: #e5eff5;
  font-size: 0.875rem;
  line-height: 1.6em;
  background: #2a3644;
  border-radius: 5px;
}
pre code {
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    background: transparent;
    white-space: pre;
  }
pre code * { color: inherit; }
/* Code Boxes
/* ---------------------------------------------------------- */
/* stylelint-disable-next-line */
code, pre {
  /* font-family: Space Mono, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace; */
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
/* Prism
/* ---------------------------------------------------------- */
pre[class*="language-"] {
  padding: 1.25rem;
  /* margin-bottom: 1rem; */
  overflow: auto;
  border-radius: 8px;
}
:not(pre) > code[class*="language-"], pre[class*="language-"] {
  border: 0;
}
/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .3em .4em;
  border-radius: .3em;
  white-space: normal;
  background: #e5eff5;
  text-shadow: none;
  color: #343f44;
  font-size: 0.9em;
}
a > code[class*="language-"] {
  color: #3eb0ef;
}
.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: rgba(255, 255, 255, 0.5);
}
.token.punctuation {
  color: #fff;
}
.namespace {
  opacity: .7;
}
.token.property, .token.tag, .token.constant, .token.symbol, .token.deleted {
  color: #ff5884;
}
.token.boolean, .token.number {
  color: #ae81ff;
}
.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
  color: #e6db74;
}
.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string, .token.variable {
  color: #fff;
}
.token.atrule, .token.attr-value, .token.function, .token.class-name {
  color: #a6e22e;
}
.token.keyword {
  color: #66d9ef;
}
.token.regex, .token.important {
  color: #fd971f;
}
.token.important, .token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
/* Modal
/* ---------------------------------------------------------- */
.modal {
  opacity: 0;
  transition: opacity .2s ease-out .1s, visibility 0s .4s;
  visibility: hidden;
  z-index: 100;
}
&-content {
  opacity: 0;
  transform: scale(.6);
  transition: transform .3s cubic-bezier(.06, .47, .38, .99), opacity .3s cubic-bezier(.06, .47, .38, .99);
}
.modal.is-active .modal-content {
  opacity: 1;
  transform: scale(1);
  transition: transform .8s cubic-bezier(.26, .63, 0, .96);
}
.modal.is-active{
    opacity: 1;
    transition: opacity .3s ease;
    visibility: visible;

    /* .modal-content {
      @extend %modal-active;
    } */
  }
.search-form input {
  border: none;
  background: transparent;
  text-align: center;
  font-size: 2.5rem
}
.search-form input::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.search-form input:-ms-input-placeholder {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.search-form input::placeholder {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.search-form input:focus {
    box-shadow: none;
  }
.search-results {
  max-height: calc(100vh - 12rem);
}
.search-results li {
    background-color: #0f0f0f
  }
.search-results li:hover,  .search-results li.is-active {
  background-color: var(--ghost-accent-color);
}
.search-results a {
  padding: 10px;
  border-bottom: 1px solid #33312e;
  line-height: 1.5;
}
/* Pages
/* ---------------------------------------------------------- */
.godo-canvas {
  display: grid;
  grid-template-columns: [full-start] minmax(4vmin,auto) [wide-start] minmax(auto,240px) [main-start] min(768px,calc(100% - 8vw)) [main-end] minmax(auto,240px) [wide-end] minmax(4vmin,auto) [full-end]
}
.godo-canvas > * {
    grid-column: main-start/main-end;
  }
.is-canvas-full .godo-canvas > * {
  grid-column: full-start / full-end;
}
.post-body {
  /*  new */
  font-size: 1.25rem;
  line-height: 1.6;
  padding-top: 6vmin

  /* stylelint-disable-next-line */
}
.post-body > * + * {
    margin-top: 4vmin;
    margin-bottom: 0;
  }
.post-body {

  /* & > [id] {
    margin: 0;
    color: var(--color-darkgrey);
  } */
}
.post-body > [id]:not(:first-child) {
    margin: 2em 0 0;
  }
.post-body > [id] + * {
    /* margin-top: 1em !important; */
    margin-top: 0.86em !important;
  }
.post-body a {
  overflow-wrap: break-word;
  text-decoration-line: underline;
  text-underline-offset: 4px;

    color: #8c7154;

    color: var(--color-link);
    /* text-decoration: underline; */
    /* word-break: break-word; */
}
.post-body a:hover {
  text-decoration-line: none;
  opacity: 0.8;
}
.post-body > hr, .post-body > blockquote {
    position: relative;
    margin-top: 6vmin;
  }
.post-body {

  /* stylelint-disable */
}
.post-body > hr + *, .post-body > blockquote + * {
    margin-top: 6vmin !important;
  }
/* stylelint-enable */
.post-body h1, .post-body h2, .post-body h3, .post-body h4, .post-body h5, .post-body h6 {
    color: #18181B;
    color: var(--title-color);
    scroll-margin-top: calc(4rem + 4vmin);
  }
/* List */
.post-body li + li {
    margin-top: .5em;
  }
.post-body ul, .post-body ol {
    counter-reset: post;
  }
.post-body ul li, .post-body ol li {
      margin-left: 2rem
    }
.post-body ul li::before, .post-body ol li::before {
        box-sizing: border-box;
        display: inline-block;
        margin-left: -1.25rem;
        position: absolute;
        text-align: right;
      }
.post-body ul > li::before {
    content: "\2022";
    opacity: .9;
    transform: scale(1.1);
  }
.post-body ol > li::before {
    content: counter(post) ".";
    counter-increment: post;
    padding-right: 0.75rem;
  }
/* Post Meta
/* ---------------------------------------------------------- */
.post-author-meta li:not(:last-child):after {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));

  content: "/";
  margin-left: 0.5rem;
}
/* tags Link
/* ---------------------------------------------------------- */
.tags-links a:before {
  display: inline;
  content: "\0023";
}
/* Post Share
/* ---------------------------------------------------------- */
.post-share-wrap:before, .post-share-wrap:after {
  content: "";
  position: absolute;
  top: 50%;
  border-bottom: 1px solid;
  border-color: #ddd;
  width: 690px;
  margin: 0 20px;
}
.post-share-wrap:before {
  right: 100%;
}
/* Cards
/* ---------------------------------------------------------- */
/* .kg-card {
  @extend %font-sans;
} */
.kg-card:not(.kg-callout-card) {
  font-size: 1rem;
}
/* Add extra margin before/after any cards,
except for when immediately preceeded by a heading */
.post-body :not(.kg-card):not([id]) + .kg-card {
  margin-top: 6vmin;
  margin-bottom: 0;
}
.post-body .kg-card + :not(.kg-card) {
  margin-top: 6vmin;
  margin-bottom: 0;
}
/* This keeps small embeds centered */
.kg-embed-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
/* This keeps small iamges centered */
.kg-image-card img {
  margin: auto;
}
/* Card captions
/* ---------------------------------------------------------- */
.kg-width-full {
  grid-column: full-start / full-end;
  z-index: 2;
}
.kg-width-full img {
    width: 100%;
  }
.kg-width-full.kg-card-hascaption {
    display: grid;
    grid-template-columns: inherit;
  }
.kg-width-full.kg-card-hascaption img {
    grid-column: 1 / -1;
  }
.kg-width-full.kg-card-hascaption figcaption {
    grid-column: main-start / main-end;
  }
.kg-width-wide {
  grid-column: wide-start / wide-end;
  z-index: 2
}
.kg-width-wide.kg-card-hascaption img {
    grid-column: wide-start / wide-end;
  }
.kg-blockquote-alt {
  color: var(--title-color);

  font-size: 1.2em;
  font-style: italic;
  line-height: 1.7em;
  padding: 0 1.2em;
  text-align: center;
}
.kg-blockquote-alt::before, .kg-blockquote-alt::after {
    position: absolute;
    opacity: .12;
    font-size: 8em;
    line-height: 1;
  }
.kg-blockquote-alt::before {
    top: -1.125rem;
    left: -.5rem;
    content: "\201c";
  }
.kg-blockquote-alt::after {
    right: -.375rem;
    bottom: -4rem;
    content: "\201d";
  }
@media (min-width: 768px) {
  .kg-blockquote-alt {
    font-size: 1.5em;
    padding: 0 2em;
  }
}
.kg-bookmark-card {
    position: relative;
  }
/* &-publisher {
    color: var(--ghost-accent-color);
  } */
.kg-bookmark-content {
  order: 1;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1.25rem;
}
.kg-bookmark-title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25;
  color: var(--title-color);
}
.kg-bookmark-description {
  margin-top: 0.75rem;
  font-size: 1rem;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.kg-bookmark-metadata {
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}
.kg-bookmark-thumbnail {
    flex-grow: 1;
    min-height: 10rem;
    min-width: 33%;
    position: relative;
  }
.kg-bookmark-icon {
  margin-right: 0.5rem;
  height: 1.25rem;
  width: 1.25rem;
}
.kg-bookmark-author::after {
    content: "•";
    margin: 0 0.25rem;
    opacity: .4;
  }
.kg-bookmark-container {

  display: flex;
  flex-direction: column;
  text-decoration: none !important;
}
@media (min-width: 768px) {
  .kg-bookmark-container {
    flex-direction: row-reverse;
  }
}
/* Utilities
/* ---------------------------------------------------------- */
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
}
.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.top-0 {
  top: 0px;
}
.top-3 {
  top: 0.75rem;
}
.right-3 {
  right: 0.75rem;
}
.bottom-0 {
  bottom: 0px;
}
.left-0 {
  left: 0px;
}
.right-0 {
  right: 0px;
}
.z-3 {
  z-index: 3;
}
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.z-2 {
  z-index: 2;
}
.z-50 {
  z-index: 50;
}
.m-0 {
  margin: 0px;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.my-20 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.mb-7 {
  margin-bottom: 1.75rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mt-16 {
  margin-top: 4rem;
}
.ml-3 {
  margin-left: 0.75rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mr-3 {
  margin-right: 0.75rem;
}
.mt-8 {
  margin-top: 2rem;
}
.mt-12 {
  margin-top: 3rem;
}
.mt-10 {
  margin-top: 2.5rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.table {
  display: table;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.h-28 {
  height: 7rem;
}
.h-64 {
  height: 16rem;
}
.h-96 {
  height: 24rem;
}
.h-20 {
  height: 5rem;
}
.h-8 {
  height: 2rem;
}
.h-full {
  height: 100%;
}
.h-16 {
  height: 4rem;
}
.h-24 {
  height: 6rem;
}
.h-32 {
  height: 8rem;
}
.w-28 {
  width: 7rem;
}
.w-full {
  width: 100%;
}
.w-24 {
  width: 6rem;
}
.w-20 {
  width: 5rem;
}
.w-32 {
  width: 8rem;
}
.max-w-2xl {
  max-width: 42rem;
}
.max-w-3xl {
  max-width: 48rem;
}
.max-w-lg {
  max-width: 32rem;
}
.max-w-xl {
  max-width: 36rem;
}
.max-w-4xl {
  max-width: 56rem;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-none {
  flex: none;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-grow {
  flex-grow: 1;
}
.-rotate-90 {
  --tw-rotate: -90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer {
  cursor: pointer;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-5 {
  gap: 1.25rem;
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.25rem * var(--tw-space-x-reverse));
  margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.75rem * var(--tw-space-x-reverse));
  margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded {
  border-radius: 0.25rem;
}
.border {
  border-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-b-3 {
  border-bottom-width: 0.1875rem;
}
.border-b-2 {
  border-bottom-width: 2px;
}
.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}
.border-primary {
  border-color: var(--ghost-accent-color);
}
.border-opacity-25 {
  --tw-border-opacity: 0.25;
}
.bg-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(17 15 22 / var(--tw-bg-opacity));
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-modal {
  background-color: rgba(0,0,0,.9);
}
.bg-primary {
  background-color: var(--ghost-accent-color);
}
.bg-opacity-60 {
  --tw-bg-opacity: 0.6;
}
.object-cover {
  object-fit: cover;
}
.p-3 {
  padding: 0.75rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-1 {
  padding: 0.25rem;
}
.py-vw6 {
  padding-top: 6vw;
  padding-bottom: 6vw;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-vw4 {
  padding-top: 4vw;
  padding-bottom: 4vw;
}
.py-vmin8 {
  padding-top: 8vmin;
  padding-bottom: 8vmin;
}
.py-14 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.pt-8 {
  padding-top: 2rem;
}
.pb-8 {
  padding-bottom: 2rem;
}
.pb-vmin8 {
  padding-bottom: 8vmin;
}
.pt-vmin8 {
  padding-top: 8vmin;
}
.pl-4 {
  padding-left: 1rem;
}
.pt-vw6 {
  padding-top: 6vw;
}
.pb-5 {
  padding-bottom: 1.25rem;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.font-serif {
  font-family: Lora, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
.text-sm {
  font-size: 0.875rem;
}
.text-44 {
  font-size: 2.75rem;
}
.text-xl {
  font-size: 1.25rem;
}
.text-xs {
  font-size: 0.75rem;
}
.text-5xl {
  font-size: 3rem;
}
.text-3xl {
  font-size: 1.875rem;
}
.text-2xl {
  font-size: 1.5rem;
}
.text-9xl {
  font-size: 8rem;
  line-height: 1;
}
.text-base {
  font-size: 1rem;
}
.text-4xl {
  font-size: 2.25rem;
}
.text-lg {
  font-size: 1.125rem;
}
.font-medium {
  font-weight: 500;
}
.font-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.font-semibold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.italic {
  font-style: italic;
}
.leading-none {
  line-height: 1;
}
.leading-normal {
  line-height: 1.5;
}
.leading-snug {
  line-height: 1.375;
}
.tracking-wider {
  letter-spacing: 0.05em;
}
.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.text-title {
  color: var(--title-color);
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}
.text-opacity-60 {
  --tw-text-opacity: 0.6;
}
.underline {
  text-decoration-line: underline;
}
.underline-offset-4 {
  text-underline-offset: 4px;
}
.outline {
  outline-style: solid;
}
.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.brightness-50 {
  --tw-brightness: brightness(.5);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.brightness-75 {
  --tw-brightness: brightness(.75);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
/* Layout
/* ---------------------------------------------------------- */
/* Navigation
/* ---------------------------------------------------------- */
.navbar ul {
  display: flex;
}
.navbar ul a {
  position: relative;
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
}
.navbar ul li {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
}
/* stylelint-disable-next-line */
li.nav-current > a,  .nav > li > a:hover,  .footer .social-media a:hover,  .search-toggle:hover,  .menu-toggle:hover,  .social-media a :hover {
  color: var(--ghost-accent-color);
}
/* Footer Form for Subscribe
/* ---------------------------------------------------------- */
.footer .input {
    border: 2px solid #262626;
    border-radius: 25px 0 0 25px;
    height: 3.125rem;
  }
.footer .button {
    border-radius: 0 25px 25px 0;
    height: 3.125rem;
  }
/* Footer Social Media
/* ---------------------------------------------------------- */
.footer .social-media {
  color: #fff;
  margin: 70px auto 0;
}
.footer .social-media span {
    display: block;
    color: #adadad;
    margin-top: 5px;
    font-size: 15px;
    letter-spacing: .3px;
  }
.copyright {
  border-top: 1px solid hsla(0,0%,100%,.1);
}
/* Sidenav
/* ---------------------------------------------------------- */
.sidenav {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  min-height: 100%;
  padding: 3% 4%;
  right: -100%;
  transition: all .4s ease-in-out;
}
.scroll-transparent::-webkit-scrollbar {
  width: 5px;
  position: fixed;
  right: 0;
}
.sidenav-nav ul a {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
  text-transform: uppercase;
}
/* secondary menu
/* ---------------------------------------------------------- */
.sidenav-menu-secondary ul > li {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
}
/* Sidenav Open
/* ---------------------------------------------------------- */
body.has-sidenav .sidenav {
    right: 0;
    visibility: visible;
  }
/* Media Query
/* ---------------------------------------------------------- */
@media (min-width: 768px) {
  .sidenav {
    right: -30rem;
    width: 30rem;
  }
}
/* Variants
/* ---------------------------------------------------------- */
/* @import "tailwindcss/variants"; */
.hover\:text-primary:hover {
  color: var(--ghost-accent-color);
}
.hover\:text-title:hover {
  color: var(--title-color);
}
.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.hover\:underline:hover {
  text-decoration-line: underline;
}
.hover\:no-underline:hover {
  text-decoration-line: none;
}
@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }
  .md\:h-10 {
    height: 2.5rem;
  }
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:text-4xl {
    font-size: 2.25rem;
  }
  .md\:text-5xl {
    font-size: 3rem;
  }
}
@media (min-width: 1000px) {
  .lg\:flex {
    display: flex;
  }
  .lg\:hidden {
    display: none;
  }
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .lg\:pt-vw4 {
    padding-top: 4vw;
  }
}

/*# sourceMappingURL=map/main.css.map */
