.error404 {
  color: #000;
  font-family: "Roboto", sans-serif;
  padding: 3rem 0;
  text-align: center;

  &-title {
    // text-align: left;
    font-size: 2rem;
    font-weight: 500;
  }

  &-number {
    font-size: 10rem;
    font-weight: 700;
    line-height: 1;
    margin: 2.5rem 0;

    @media #{$lg-and-up} { font-size: 20rem }
  }

  &-sub {
    font-size: 1rem;
    line-height: 1.4;
    margin: 0 auto;
    max-width: 500px;
  }

  &-btn {
    background: #000;
    border-radius: 50px;
    color: #fff;
    display: block;
    height: 40px;
    line-height: 1;
    margin: 2.5rem auto 0;
    max-width: 300px;
    padding: 11px 20px;
    width: 100%;

    &:hover { background-color: $color-text-3 }
  }
}
