.header {
  background: #fff;
  color: #151515;
  position: sticky;
  top: 0;
  z-index: 10;

  &.has-shadow {
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
  }

  &-wrap {
    height: $header-height;
  }

  &-right { width: 20% }
}

// Logo
.logo {
  width: 20%;

  &-txt {
    font-size: 36px;
    font-weight: 700;
    color: #151515;
    line-height: 1;
  }
}

// Social media
.search-toggle,
.social-media > li {
  font-size: 20px;
  margin: 0 5px;
}

.header .social-media span { display: none }

// Nav
.navbar {
  width: 60%;

  ul {
    @extend %flex;

    li {
      @extend %secundary-font;

      margin: 0 14px;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
    }
  }

  ul > li > a {
    padding: 16px 0;
    color: $header-color;
    display: block;
    position: relative;
  }
}

.footer-social a:hover,
.search-toggle:hover,
.navbar ul > li > a:hover,
.social-media a :hover {
  color: $header-color-hover;
}
