.story {
  height: 30em;

  // Hover
  &:hover .u-overlay { background-color: rgba(0, 0, 0, .4) }

  .sss-excerpt {
    max-height: 5.6em;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
  }
}

.sss {
  color: #fff;
  text-align: center;
  background-color: #1a1a1a;

  &-body {
    padding: 10px 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  // Title
  &-title {
    @extend %primary-font;
    //
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.5em;
  }

  // Exerpt
  /* stylelint-disable-next-line */
  &-excerpt {
    @extend %secundary-font;

    font-size: 1.25rem;
    // font-style: italic;
    font-weight: 400;
    margin: 0 auto;
    max-width: 600px;
    position: relative;

    &::before {
      content: "";
      border-top: 2px solid $color-text-3;
      display: block;
      margin: 18px auto 26px auto;
      width: 10%;
    }
  }

  // tag
  &-tag {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding-bottom: 2px;

    &:hover { border: none }
  }

  // Meta
  &-meta {
    margin-top: 20px;

    a:hover { color: $color-text-3 }
  }
}

// .sss-meta,
// .date {
//   @extend %secundary-font;
//   // font-family: $secundary-font;
//   font-size: 12px;
//   text-transform: uppercase;
//   letter-spacing: 1px;
//   color: rgba(255, 255, 255, 0.7);
// }

.point {
  font-size: 5px;
  padding: 0 5px;
  vertical-align: middle;
}

// New Style of Post
.ttt {
  // height: 600px;
  min-height: 400px;
  margin-bottom: 30px;

  @media #{$md-and-up} { height: 500px; }

  // @media #{$lg-and-up} { height: 600px; }

  // .u-meta { color: #fff }
  // .point { color: rgba(255, 255, 255, 0.7) }

  &:hover img { filter: brightness(90%) }

  &-img {
    filter: brightness(70%);
    transition: filter .3s;
  }

  &-body {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 60px 20px 30px 20px;
  }
}

@media #{$lg-and-up} {
  .ttt { height: 600px }

  .ss12 .sss {
    height: 40em;

    .sss-title {
      font-size: 4rem;
    }
  }
}
