.story {
  height: 30em;

  // Hover
  &:hover .u-overlay { background-color: rgba(0, 0, 0, .4) }
}

.sss {
  color: #fff;
  text-align: center;

  &-body {
    padding: 10px 20px;
  }

  // Title
  &-title {
    @extend %primary-font;
    //
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.5em;
  }

  // Exerpt
  &-excerpt {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 400;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;

    &::before {
      content: "";
      border-top: 2px solid #FF4F58;
      display: block;
      margin: 18px auto 26px auto;
      width: 10%;
    }
  }

  // tag
  &-tag {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding-bottom: 2px;

    &:hover { border: none }
  }

  // Meta
  &-meta {
    margin-top: 20px;

    a:hover { color: $secundary-text-color }
  }
}

.sss-meta,
.date {
  @extend %secundary-font;
  // font-family: $secundary-font;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.7);
}

.ss12 .sss {
  height: 40em;

  .sss-title {
    font-size: 4rem;
  }

  .sss-excerpt { font-size: 24px }
}

.point {
  font-size: 5px;
  padding: 0 5px;
  vertical-align: middle;
}
